<!--<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ titulo }}</title>
</head>
<body>
-->
<section class="contenedor">
  <div class="row m-auto">
    <div class="col-xs-12">
      <h3>{{ titulo }}</h3>
    </div>
  </div>
  <hr/>
  <div class="m-auto">
  <app-formulario
  (personaCreada)="onPersonaAgregada($event)"
  ></app-formulario>
  <hr/>
  <app-persona 
  *ngFor="let personaElemento of personas; let i = index"
  [persona] = "personaElemento"
  [indice] = "i"
  ></app-persona>
  </div>  
</section>
  <!--
</body>
</html>-->